#Eclipse files
*.project
*.classpath
ClientB/*.classpath
ClientB/*.project
ClientB/target/
ClientB/.settings/
ServerB/*.classpath
ServerB/*.project
ServerB/target/
ServerB/.settings/
.settings/

# Package Files 
*.jar
*.war
*.ear

# Documentation Files
*.pdf
