#Eclipse files
*.project
*.classpath
ClientB/*.classpath
ClientB/*.project
ClientB/target/
ClientB/.settings/
ServerB/*.classpath
ServerB/*.project
ServerB/target/
ServerB/.settings/
.settings/

# Added by dianaartiom on May 4th
#---------generated--------------
**/.settings/
#---------intellij ide-----------
**/.idea/
**/*.iml
# Package Files 
*.jar
*.war
*.ear

# Documentation Files
*.pdf
